body {
    padding-top: auto;
    background-image: url('image/4k-wallpaper-5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed；
}

@media (min-width: 992px) {
    body {
        padding-top: auto;
    }
}

.h1,
h1 {
    font-size: 2.5rem;
    color: #fef6eb
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255);
    padding-bottom: 5px;
}

#input {
    width: 100%;
    height: 40px;
    font-size: 20px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid #b5c5dd;
    border-radius: 10px;
}

.controls {
    width: 90%;
    margin: auto;
}

.visual {
    opacity: 1 !important;
    border-radius: 10px;
}

.scroll {
    width: 100%;
    /*宽度*/
    max-height: 800px;
    height: 100%;
    /*高度*/
    overflow-x: hidden;
    /*横向滚动条(scroll:始终出现;auto:必要时出现;具体参考CSS文档)*/
    overflow-y: auto;
    /*竖向滚动条*/
    scrollbar-face-color: #D4D4D4;
    /*滚动条滑块颜色*/
    scrollbar-hightlight-color: #ffffff;
    /*滚动条3D界面的亮边颜色*/
    scrollbar-shadow-color: #919192;
    /*滚动条3D界面的暗边颜色*/
    scrollbar-3dlight-color: #ffffff;
    /*滚动条亮边框颜色*/
    scrollbar-arrow-color: #919192;
    /*箭头颜色*/
    scrollbar-track-color: #ffffff;
    /*滚动条底色*/
    scrollbar-darkshadow-color: #ffffff;
    /*滚动条暗边框颜色*/
}